<!doctype html>
<html lang="zh-cmn-Hans">
<!--[if lt IE 7 ]><html class="ie6" lang="zh-cmn-Hans"><![endif]-->
<!--[if IE 7 ]><html class="ie7" lang="zh-cmn-Hans"><![endif]-->
<!--[if IE 8 ]><html class="ie8" lang="zh-cmn-Hans"><![endif]-->
<!--[if IE 9 ]><html class="ie9" lang="zh-cmn-Hans"><![endif]-->
<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <noscript>
        <meta http-equiv='refresh' content='0;url=/nojs'>
    </noscript>
    <meta name="description" content="">
    <meta name = "viewport" content ="initial-scale=2.0,maximum-scale=1,user-scalable=no">
    <meta property="author" content="gongwb" />
    <!-- 启用360浏览器的极速模式(webkit) -->
    <meta name="renderer" content="webkit">
    <!-- 避免IE使用兼容模式 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- 针对手持设备优化，主要是针对一些老的不识别viewport的浏览器，比如黑莓 -->
    <meta name="HandheldFriendly" content="true">
    <!-- 微软的老式浏览器 -->
    <meta name="MobileOptimized" content="320">
    <!-- uc强制竖屏 -->
    <meta name="screen-orientation" content="portrait">
    <!-- QQ强制竖屏 -->
    <meta name="x5-orientation" content="portrait">
    <!-- UC强制全屏 -->
    <meta name="full-screen" content="yes">
    <!-- QQ强制全屏 -->
    <meta name="x5-fullscreen" content="true">
    <!-- UC应用模式 -->
    <meta name="browsermode" content="application">
    <!-- QQ应用模式 -->
    <meta name="x5-page-mode" content="app">
    <!-- windows phone 点击无高光 -->
    <meta name="msapplication-tap-highlight" content="no">
    <!--
    <meta id="appleAppId" name="apple-itunes-app" content="app-id=956716084" />
    -->
    <meta content="telephone=no" name="format-detection"/><!-- 忽略数字识别为电话 -->
    <meta content="email=no" name="format-detection"/><!-- 忽略email识别 -->
    <link rel="stylesheet" type="text/css" media="all" href="/css/post.css"/>
</head>
<body data-ui-language="zh-cn">
<div class="wrap">
    <div id="page" role="main" class="context">
        <!-- 标题开始 -->
        <h1 class="article-title">
            {{ page.title }}
        </h1>
        <!-- 标题结束 -->
        <!-- 正文开始 -->

        <div id="article-detail" class="text">
            {{ content }}
        </div>
        <!-- 正文结束 来源及评论开始 -->
</div>
<div class="footer full">
    <div class="copy wrap">
        Copyright &copy;
            <script>document.write(new Date().getFullYear());</script>
            <a href="http://www.morgandaily.com/" target="_blank">摩根画报</a></a> All Rights Reserved.
            <img src="http://img.users.51.la/17778226.asp" style="display:none" />
    </div>
</div>
